/* -----===== ABOUT US ======----- */

.aboutUs-container{
    @include style-containers(6rem 5rem, nth($colores,3), nth($colores,5));
    @include display-flex(flex, space-around, none, wrap);
    @media screen and (max-width:500px) {
        padding: 3rem 2rem;
    } 
    .about-img {
        padding: 1rem 1rem;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
    }
    .about-img:hover {
        filter: grayscale(0%);
        filter: gray;
        -webkit-filter: grayscale(0%);
        -webkit-filter: saturate(200%);
        filter: none;
        transition: 1s ease;
        }
    
    .about-text{
        max-width: 35rem;
        line-height: 1.6rem;
    }
}