/* -----===== CONTACT US ======----- */

.contactUs-container{
    .hx-heading {
        background: 50% 100% / 50% 50% no-repeat
                    radial-gradient(ellipse at bottom, nth($colores,5), transparent, transparent);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: reveal 3000ms ease-in-out forwards 200ms,
                   glow 2500ms linear infinite 2000ms;
      
        @keyframes reveal {
          80%{
            letter-spacing: 8px;
          }
          100% {
            background-size: 300% 300%;
          }
        }
        @keyframes glow {
          40% {
            text-shadow: 0 0 8px nth($colores,5);
          }
        }
      }  

    @include style-containers(7rem 5rem, nth($colores,3), nth($colores,5));
    @media screen and (max-width:500px) {
        padding: 3rem 2rem;
    }
    .contactUs-nav{
        padding: 3rem 0rem;
        @include display-flex(flex, space-evenly, none, wrap);
      .form-container{
        background-color: nth($colores,5);
        border-radius: 1rem;
        border-style:solid;
        border-width: 1px;
        border-color: nth($colores,5);
        padding: 0.4rem;
        .form-details{
            color: nth($colores,2);
            text-transform: uppercase;
            letter-spacing: 2px;
            padding-top: 0.7rem;
            padding-bottom: 1rem;
            padding-left: 0.4rem;
            padding-right: 0.4rem;
            .form-input{
                width: 17rem;
                height: 1.8rem;
            }
            .form-input1{
                width: 17rem;
                height: 10rem;
            }
            .form-input:focus{
                outline: none   ;
                border:3px solid nth($colores,2);
            }
            .form-input1:focus{
                outline: none   ;
                border:3px solid nth($colores,2);
            }
        
            .boton{
                display: inline-block;
                background-image: linear-gradient(125deg, nth($colores,1),nth($colores,2));
                color: nth($colores,6);
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 0.7rem;
                padding: 0.4rem 0.5rem;
                margin-left: 3rem;
                border: none;
                width: 200px;
                cursor: pointer;
            }
            .boton:hover{
                font-weight: bolder;
                box-shadow: 0 0 10px nth($colores,3);
            }

        }
      }  
    }
    .contactUS-address{
        padding: 1rem;
        line-height: 1em;
    }
    .contactUs-gmap{
        padding: 0.7rem;
    }
}
