/* -----===== FOOTER ======----- */

.footer-container{
    @include style-containers(0.4rem, nth($colores,4), nth($colores,5));
    @include display-flex(flex, left, center, none);
    .footer-social{
        width: 80%;
        transform: scale(0.6, 0.6);
        display: flex;
        justify-content:center;    
        align-items:flex-end;
        gap: 2rem; 
        .social-icons:hover {
            transform: scale(1.2);
            }
        @media screen and (max-width:500px) {
                transform: scale(0.9, 0.9);
                gap: 1rem;
        }
    }
    .footer-text{
        width:20%;
        text-align: left;
        .footer-text-end{
            font-size: 0.6rem;
        }
    }
}